<mat-toolbar class="nav">
  <span>
    <img src="assets/pictures/logo.png" class="logo">
  </span>
  <span class="nav-text margin">Fresh Air</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="default" class="margin" routerLink="/">Home</button>
  <button mat-raised-button color="default" class="margin" routerLink="/details">Details</button>
  <button mat-raised-button color="default" class="margin">About</button>
  <button mat-icon-button class="example-icon margin">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
